<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>ReWare Clothing</title>
</head>
<body>
  <!-- Navbar -->
  <div class="bg-white shadow-md px-6 py-4">
    <nav class="flex items-center justify-between">
      <h1 class="text-2xl font-semibold text-gray-800">
        <span class="text-orange-500 font-bold">Re</span>Wear
      </h1>

      <ul class="flex gap-6 text-gray-700 font-semibold">
        <li>
          <a href="/templates/index.html" class="px-3 py-2 rounded-md transition-all duration-[900ms] ease-in-out hover:text-orange-500 hover:underline decoration-orange-500">Home</a>
        </li>
        <li>
          <a href="/templates/Listitems.html" class="px-3 py-2 rounded-md transition-all duration-[900ms] ease-in-out hover:text-orange-500 hover:underline decoration-orange-500">Start Swapping</a>
        </li>
        <li>
          <a href="/templates/MainCategory.html" class="px-3 py-2 rounded-md transition-all duration-[900ms] ease-in-out hover:text-orange-500 hover:underline decoration-orange-500">Category</a>
        </li>
        <li>
          <a href="/templates/About.html" class="px-3 py-2 rounded-md transition-all duration-[900ms] ease-in-out hover:text-orange-500 hover:underline decoration-orange-500">About The Developer</a>
        </li>
        <li>
          <a href="/templates/contact_us.html" class="px-3 py-2 rounded-md transition-all duration-[900ms] ease-in-out hover:text-orange-500 hover:underline decoration-orange-500">Contact</a>
        </li>
        <li>
          <a href="/templates/login.html" class="px-3 py-2 rounded-md bg-orange-500 text-white hover:bg-white border-2 hover:border-orange-500 hover:text-black"> Login </a>
        </li>
      </ul>
    </nav>
  </div>
<!-- -------------------------------------------------------------Brake------------------------------------------------------------ -->

<section class="bg-white py-10 px-4">
  <div class="max-w-0xl mx-0 mb-10">
    <img src="/images/banner5.jpg" alt="T-shirts banner" class="w-500 rounded-md shadow-lg" />
  </div>

  <!-- Heading and Categories -->
  <div class="text-center mb-6">
    <h2 class="text-5xl font-semibold mb-2">Browse Footwear</h2>
    <div class="space-x-4 text-gray-600 font-medium">
      <button class="hover:text-orange-500">Men</button>
      <button class="hover:text-orange-500">Women</button>
      <button class="hover:text-orange-500">Kids</button>
    </div>
  </div>
  <br>
  <br>
  <!-- Item Cards -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <!-- Single Card -->
    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 1.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 2.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 3.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 4.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 5.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 6.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 7.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 8.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 9.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 10.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 11.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>
    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 12.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 13.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 14.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/kids footwear 15.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 16.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 17.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 18.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 19.png" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 20.png" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 21.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 22.png" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 23.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 24.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 25.png" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/mens footwear 26.png" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/mens footwear 27.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/mens footwear 28.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>
    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/mens footwear 29.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/mens footwear 30.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/mens footwear 31.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/mens footwear 32.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 33.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 34.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 35.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    <div class="bg-white rounded-lg border border-gray-300 p-4 shadow hover:shadow-lg transition">
      <img src="/images/ladies footwear 36.jpg" alt="T-shirt" class="w-full h-100 object-contain mb-4 rounded-xl"/>
      <h3 class="text-lg font-semibold">T-shirt</h3>
      <p class="text-gray-600 text-sm mb-2">$5.00</p>
      <span class="bg-orange-500 text-white text-xs px-2 py-1 rounded">Add To Cart</span>
    </div>

    

  </div>
</section>

<!-- --------------------------------------------------------------------------------------------------------- -->

<footer class="bg-[#131212] px-6 py-10 text-white mt-20">
  <div class="max-w-7xl mx-15 flex flex-col md:flex-row justify-between gap-10">
    
    <!-- Left: Info Links -->
    <div class="md:w-1/2 grid grid-cols-2 gap-5">
      <h1 class="text-4xl font-semibold text-white">
        <span class="text-orange-500 font-bold">Re</span>Wear
      </h1>
      <br>

      <ul class="space-y-2">
       <p class ="text-orange-500 text-1xl">HelpFul Links</p>       
        <li><a href="/templates/About.html" class="hover:underline">About Us</a></li>
        <li><a href="/templates/Terms_Condition.html" class="hover:underline">Terms & Conditions</a></li>
        <li><a href="/templates/Privacy.html" class="hover:underline">Privacy Policy</a></li>
        <li><a href="#" class="hover:underline">FAQs</a></li>
      </ul>

      <ul class="space-y-2">
        <li><a href="/templates/index.html" class="hover:underline">Home</a></li>
        <li><a href="/templates/Listitems.html" class="hover:underline">Start Swaping</a></li>
        <li><a href="/templates/MainCategory.html" class="hover:underline">Category</a></li>
        <li><a href="/templates/login.html" class="hover:underline">Login</a></li>
      </ul>

      
    </div>

    <!-- Right: Contact -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Contact Us</h3>
      <ul class="space-y-2">
        <li>Email: <a href="mailto:support@rewear.com" class="hover:underline text-Orange-600">support@rewear.com</a></li>
        <li>
          <input type="email" placeholder="Enter your email" class="w-full max-w-md border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-orange-500"/>
        </li>

        <li>Phone: <a href="tel:+918000000000" class="hover:underline text-orange-500">+91 80000 00000</a></li>
        <li>Address: Thane, Maharashtra, India</li>
        <div class="space-x-4">
          <i class="fa-brands fa-linkedin"></i> <i class="fa-brands fa-github"></i> <i class="fa-brands fa-instagram"></i>
        </div>
        
      </ul>
    </div>
  </div>

  <!-- Bottom Line -->
  <div class="text-center mt-10 text-sm text-gray-600">
    &copy; 2025 ReWear. All rights reserved By Aiden, Alison and Praful
  </div>
</footer>
 
</body>
</html>
